:root {
    --white-font: #ffffff;
    --black-font: #000000;
}

.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Inter;
    color: #000000
}

.banner {
    padding: 1em;
}

.banner-title {
    font-size: 3em;
    font: var(--white-font);
}

.banner-subtitle {
    font-size: 2.25em;
    font: var(--white-font);
    padding-left: 0.5em;
    padding-top: 0.25em;
}

.section {
    display: flex;
    flex-direction: column;
}

.content-image {
    display: flex;
}

.normal-text {
    font-size: 2em;
}