:root {
    --white: #ffffff;
    --black: #000000;
}

.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Inter;
    color: var(--whitte);
}

.banner {
    padding: 1em;
}

.banner-title {
    font-size: 3em;
}

.banner-subtitle {
    font-size: 2.25em;
    padding-top: 0.25em;
}

.section {
    display: flex;
    flex-direction: column;
}

.content-image {
    display: flex;
}

.normal-text {
    font-size: 2em;
}

#banner {
    grid-area: ban;
}